<%- include('includes/head'); %>
    <section class="container">
        <h1>
            <% if (typeof title !== 'undefined') { %>
                <%= title %>
            <% } else { %>
                The title was not sent.
            <% } %>
        </h1>
        <form action="/" method="POST">
            Nome: <input type="text" name="nome">
            <button>Enviar</button>
        </form>
    </section>
<%- include('includes/footer'); %>